@media screen and (max-width:1600px){
	.cart {right: 10px;}
	.reviews_slider .slick-prev.slick-arrow{left: -10px;}
	.reviews_slider .slick-next.slick-arrow{right: -10px;}
	.slick-prev.slick-arrow{left: 10px;}
	.slick-next.slick-arrow{right: 10px;}
	.home_banner{margin-bottom: 220px;}
	.menu_list ul{gap: 70px;}
}

@media screen and (max-width:1500px){
	p{font-size: 19px;}
	.banner_title h2{font-size: 35px;}
	.top_left_icon{left: 20px;}
	.banner_title h1{font-size: 150px;}
	.left_top_salad{top: 180px;left: 150px;}
	.top_right_icon{right: 15%;}
	.slick-arrow{width: 80px;height: 80px;}
	.left_bottom_salad{bottom: 25%;}
	.bottom_right_icon{right: 60px;bottom: 70px;}
	.bottom_left_icon{left: 60px;bottom: 70px;}
	.right_bottom_salad{right: 200px;bottom: 150px;}
	.motion_right{right: 50px;top: 0px;}
	.motion_left{left: 50px;top: 0px;}
	.p_tb_100{padding: 70px 0px;}
	.pt_100{padding-top: 70px;}
	.footer_central_col {padding: 0px 5%;}
	.menu_item_image{width: 70%;}
	.in_the_news .right_top_salad{top: 20%;}
	.in_the_news .left_top_salad{top: 15%;}
	.home_banner{margin-bottom: 180px;}
	
	.review_slider_home_page .reviews_inr{max-width: 90%; margin: auto;}
	.review_slider_home_page .reviews_slider .slick-next.slick-arrow{right: -80px;}
	.review_slider_home_page .reviews_slider .slick-prev.slick-arrow{left: -80px;}
	.reviews_card{padding: 20px 15px;}
	.contact_info_inr{gap: 6%;}
	.contact_info_col{width: 44%;}
	.about_us_cards{padding-right: 0px; padding-left: 40px;}
	.reviews_txt{margin: 15px 0px;}
	.mb_child_30 > *{margin-bottom: 25px;}

	/*--------- Media 2 ------*/
    .achivement_counter ul li{padding: 0px 20px;}
    .achivement_counter ul li h3{font-size: 36px;line-height: 40px;}
    .achivement_counter ul li h4{line-height: 30px;}
	.journey_col {width: 7.33%;margin: 0px;}
    .journey_title h4 { font-size: 16px;width: 97px;}
    .our_journey_year_otr {padding: 0px;}
    .our_journey_branches .journey_col:nth-child(even) {margin-top: 160px;}
    .our_journey_year_otr::after {right: -15px;bottom: 2px;border-width: 0 10px 20px 10px;}
    .our_journey_branches .journey_col:first-child .our_journey_year_otr::after {right: -15px;bottom: 0px;}
    .our_journey_branches .journey_col:nth-child(even) .our_journey_year_otr::after {right: -10px;top: 7px;}

    .achivement_counter ul li h3{font-size: 34px;line-height: 38px;}
    .achivement_counter ul li h4{line-height: 28px;}

}

@media screen and (max-width:1350px){
	.def-page {padding: 60px 0px 50px;}
	.def-page h2 {font-size: 36px;}
	.def-page h2 {font-size: 32px;line-height: 40px;}
	.def-page h3 {font-size: 30px;line-height: 34px;}
	.def-page h4 {font-size: 28px;line-height: 34px;}
	.privacy-page .privacy-inner {padding-left: 20px;margin-bottom: 0px;}
	.def-page ul li {font-size: 18px;line-height: 34px;}
	.def-page ul li:before{top: 15px;}
	.def-page ol li{font-size: 18px;line-height: 34px;}
	.pagenotfound {padding: 50px 0px;}
	.pagenotfound h2 {font-size: 36px;}
	.pagenotfound p {font-size: 20px;}


	p{font-size: 19px;}
	h3{font-size: 28px;}
	h4{font-size: 23px;}
	h5{font-size: 21px;}
	h6{font-size: 20px;}

	.row{ margin: 0px -15px;}
	.col_2{padding: 15px;}
	.col_3{ padding: 15px;}
	.col_4{ padding: 15px;}
	small{font-size: 15px;}

	.header_inr{padding: 20px 0px}
	.cart a{width: 50px;}
	.cart a img{width: 14px;}
	.banner_title h2{font-size: 32px;}
	.top_left_icon{left: 15px;}
	.banner_title h1{font-size: 130px;}
	.left_top_salad{top: 160px;left: 120px;}
	.top_right_icon{right: 10%;}
	.slick-arrow{width: 80px;height: 80px;} 
	.left_bottom_salad{bottom: 20%;}
	.bottom_right_icon{right: 60px;bottom: 40px;}
	.bottom_left_icon{left: 60px;bottom: 40px;}
	.right_bottom_salad{right: 135px;bottom: 150px;}
	.motion_right{right: 30px;top: 0px;}
	.motion_left{left: 30px;top: 0px;}
	.p_tb_100{padding: 60px 0px;}
	.pt_100{padding-top: 60px;}
	.home_banner{margin-bottom: 150px;}
	.card_1{width: 370px;}
	.about_us_left{margin-right: 50px;}
	.about_us_txt p{margin-bottom: 20px;}
	.card_2{width: 230px;margin-top: -200px;}
	.title h3{font-size: 28px;}
	.title h2{font-size: 80px}
	.reviews_card{padding: 20px 10px;}
	.reviews_card_inr{padding: 25px;} 
	.footer{padding: 60px 0px 40px;}
	.menu_list ul{gap: 40px;}

	.about_us_cards{padding-right: 20px;}
	.about_us_right p{margin-bottom: 20px;}
	.our_menu_inr ul li::before{background-size: contain; width: 70px;}
	.our_menu_inr ul li{margin-bottom: 30px; font-size: 22px;}
	.reviews_card_inr::before{width: 55px;}
	.reviews_card_artical::before{width: 55px;}
	.a_btn a{padding: 12px 35px;}
	.news_card_txt > *{margin-bottom: 10px;}
	.row.branches_row{margin: 0px -10px;}
	.row.branches_row .col_2{padding: 10px;}
	.branch_card_txt{margin: 10px 10px 0px;} 
	.branch_card_txt small{margin-bottom: 0px;}
	.branch_card_txt h4{font-size: 20px;}
	.contact_us_col_inr {padding: 45px;}
	.contact_us_col_inr h3{font-size: 40px;}
	input[type="text"],input[type="file"],input[type="number"], input[type="email"]{height: 60px; font-size: 18px; padding: 12px 20px;}
	textarea{height: 150px; font-size: 18px; padding: 12px 20px;}
	.contact_details_img{width: 50px;}
	.contact_details{padding-bottom: 30px;}
	.social_icons ul li a{width: 55px;}
	.contact_info_col_inr {margin-bottom: 30px;}
	.side .footer_col_inr ul li{margin-bottom: 15px;}
	.submit_btn input[type="submit"]{padding: 12px 40px;}
	.award_inr.row{margin: 0px -10px;}
	.award_inr.row .col_4{padding: 10px;}
	.news_card_txt{margin: 20px 0px;}
	.in_the_news {padding: 160px 0px 60px;}
	input[type="text"],input[type="file"],input[type="number"], input[type="email"], textarea{height: 60px; font-size: 17px; padding: 12px 15px;}
	.contact_txt a{font-size: 18px;}
	.mb_child_30 > *{margin-bottom: 20px;}

	/*--------- Media 2 ------*/
	.location_content{padding-left: 50px;}
	.location_p_inr:nth-child(even) .location_content{padding-right: 50px;}
	.location_p_inr{padding-bottom: 60px;}
	.menu_content p{padding-bottom: 25px;}

	.awards_col_inr{padding: 25px;}
	.awards_img img{max-height: 130px;}
	.awards_inr.row{margin: 0 -10px;}

	.achivement_counter ul li h3{font-size: 32px;line-height: 36px;}
	.achivement_counter ul li h4{line-height: 26px;}

}
@media screen and (max-width:1200px){
	.wrapper{padding:0 40px;}
	.def-page {padding: 40px 0px 30px;}
	.def-page h2 {font-size: 30px;line-height: 38px;}
	.def-page h3 {font-size: 28px;line-height: 34px;}
	.def-page h4 {font-size: 26px;line-height: 32px;}
	.def-page h5 {font-size: 24px;line-height: 30px;}
	.def-page p {font-size: 17px;line-height: 30px;}
	.def-page ul li, .def-page ol li{font-size: 17px;line-height: 30px;}
	.def-page .left-img{width: 50%;}
	.privacy-page .privacy-inner ul {margin-top: 0;}
	.privacy-page ul, .privacy-page ol {margin-left: 15px;}
	.def-page ul {padding-bottom: 10px;}
	.def-page ul li:before {top: 14px;}
	.privacy-page ol {padding-left: 0px;}
	.def-page .right-img{width: 50%;}
	.pagenotfound {padding: 40px 0px;}
	.pagenotfound h2 {font-size: 32px;}
	.pagenotfound p {font-size: 18px;}
	.def-page p {padding-bottom: 15px;}

	p{font-size: 17px;}
	h3{font-size: 25px;}
	h4{font-size: 22px;}
	h5{font-size: 20px;}
	h6{font-size: 19px;}
	input[type="text"],input[type="file"],input[type="number"], input[type="email"], textarea{padding: 10px 15px;height: 50px;font-size: 16px;}

	.row{ margin: 0px -10px;}
	.col_2{padding: 10px;}
	.col_3{ padding: 10px;}
	.col_4{ padding: 10px;}
	small{font-size: 14px;}

	.header{padding: 0px 20px;}
	.menu_list ul li a{font-size: 17px;}
	.top_left_icon{left: 10px;}
	.top_left_icon img{width: 70px;}
	.left_top_salad{top: 150px;left: 100px;}
	.left_top_salad img{width: 90px;}
	.left_bottom_salad{bottom: 25%;}
	.left_bottom_salad img{width: 70px;}
	.bottom_left_icon img{width: 90px;}
	.top_right_icon{right: 15%;top: 18%;}
	.top_right_icon img{width: 60px;}
	.right_top_salad{top: 20%;}
	.right_top_salad img{width: 90px;}
	.right_bottom_salad img{width: 90px;}
	.bottom_right_icon img{width: 100px;}
	.bottom_right_icon,.bottom_left_icon{bottom: 20px;}
	.banner_title h2{font-size: 30px;letter-spacing: 3px;}
	.banner_title h1{font-size: 100px;}
	.motion_left,.motion_right{top: -20px;}
	.home_banner{margin-bottom: 100px;}
	.title h3{font-size: 26px;letter-spacing: 2px;}
	.title h2{font-size: 60px;}
	.about_us_left{width: 45%;}
	/* .card_1{width: 330px;} */
	.card_1 .card_txt h5{font-size: 25px;}
	.card_2{width: 190px;margin-top: -100px;}
	.about_us_txt p{margin-bottom: 15px;}
	.a_btn a{font-size: 17px;padding: 10px 32px;}
	.p_tb_100{padding: 50px 0px;}
	.pt_100{padding-top: 50px;}
	.our_menu_inr{padding-top: 30px;}
	.menu_left_list ul li,.our_menu_inr ul li{padding-left: 15px;font-size: 20px;margin-bottom: 15px;}
	.menu_left_list ul li::after{top: 9px;}
	.our_menu_inr ul li::before{background-size: 100%;width: 75px;height: 17px;}
	.menu_right_list ul li:hover::before{right: 100%;}
	.menu_left_list ul li:hover::before{left: 100%;}
	.social_icons ul li a{width: 50px;}
	.reviews_card_inr{padding: 20px;}
	.reviews_slider .slick-arrow{width: 50px;height: 50px;}
	.reviews_txt{margin: 15px 0px;}
	.customer_name h5{font-size: 20px;}
	.in_the_news{padding: 180px 0px 50px;}
	.news_card_txt{margin: 20px 0px;}
	.news_card_txt > *{margin-bottom: 10px;}
	h6{font-size: 22px;}
	.col_2 {width: calc(50% - 8px);}
	.branch_card_txt{margin: 15px 15px 0px;}
	.contact_info_inr{gap: 5%;}
	.contact_info_col{width: 45%;}
	.contact_info_col_inr{margin-bottom: 30px;}
	.contact_details{padding-bottom: 30px;}
	.contact_details_img{width: 40px;}
	.contact_us_col_inr{padding: 30px;}
	.contact_us_col_inr h3{font-size: 36px;}
	.form{margin: 0px -5px;}
	.input_col_2,.input_col_1{padding: 5px;}
	.submit_btn input[type="submit"]{padding: 10px 40px;}
	.footer{padding: 50px 0px 30px;}
	.footer_central_col {padding: 0px 2%;}
	.footer_col_inr >*{margin-bottom: 15px;}
	.footer_col_inr >*{margin-bottom: 10px;}
	.side .footer_col_inr ul li{margin-bottom: 15px;}
	ul li{font-size: 18px;}
	.footer_col_inr p{line-height: 30px;}
	.slick-arrow{width: 60px;height: 60px;}
	.slick-arrow::after{background-size: 100%;width: 13px;height: 27px;}
	.our_menu_inr ul li::after{top: 9px;}
	.user_avatar h4{font-size: 26px;}
	.find_us_otr .a_btn{margin-top: 35px;}
	.menu_list ul{gap: 30px;}
	.review_slider_home_page .reviews_card_inr{min-height: 400px;}
	.review_slider_home_page .reviews_card_artical{min-height: 400px;}
	.contact_txt a{font-size: 17px;}
	.mb_child_30 > *{margin-bottom: 17px;}

	/*--------- Media 2 ------*/
	.location_content h3 {line-height: 32px;padding-bottom: 5px;}
	.location_content{padding-left: 40px;}
	.location_p_inr:nth-child(even) .location_content{padding-right: 40px;}
	.location_content .rating{padding-bottom: 20px;}
	.location_content p{padding-bottom: 20px;}
	.location_content ul li.phone{padding-bottom: 5px;}
	.location_content ul li.phone a {font-size: 23px;line-height: 32px;}
	.location_p_inr{padding-bottom: 50px;}

	.review_page .reviews_slider{margin: 0px -15px;}
	.review_page .reviews_slider .reviews_card{padding: 15px}
	.reviews_card_inr{padding: 15px;}
	.reviews_txt{margin: 10px 0px}
	.customer_name h5{font-size: 18px;line-height: 24px;margin-bottom: 5px;}

	.menu_p_col_inr{padding: 25px;}
	.menu_content{padding-left: 30px;}
	.menu_content p{padding-bottom: 20px;line-height: 26px;}

	.awards_col_inr{padding: 20px;}
	.about_achivement.p_tb_100{padding-bottom: 0px;}

	.director_img{margin: 0px 40px 40px 40px;}
	.border_on_img::after{left: -30px;border-width: 5px;}
	.director_msg_txt_inr.text_left blockquote{padding: 0px;margin: 0px;}
	.director_detail{margin-top: 15px;}
	.providing_employement{padding: 15px;max-width: 300px;width: 40%;bottom: -140px;}
	.achivement_counter ul li h3{font-size: 30px;line-height: 34px;}
	.achivement_counter ul li h4{line-height: 24px;}
	.what_we_belive_col_inr{padding: 20px;}
	.meet_team_col_inr{align-items: self-start;}
	.meet_team_col_inr .meet_team_card_txt{padding: 10px 10px 10px 20px;}
	.achivement_left_inr .title {padding-bottom: 10px;}
}


@media screen and (max-width:1023px){
	.wrapper{padding:0 30px;}
	.def-page {padding: 30px 0px 20px;}
	.def-page h2 {font-size: 26px;line-height: 34px;}
	.def-page h3 {font-size: 25px;line-height: 32px;}
	.def-page h4 {font-size: 24px;line-height: 30px;}
	.def-page h5 {font-size: 23px;line-height: 28px;}
	.def-page p {font-size: 16px;line-height: 28px;padding-bottom: 10px;}
	.def-page ul li, .def-page ol li{font-size: 16px;line-height: 26px;}
	.def-page ul {padding-bottom: 15px;}
	.def-page ol{padding-left: 0;}
	.def-page .left-img{margin: 0px 20px 10px 0;}
	.privacy-page .privacy-inner ul {margin-top: 0px;}
	.privacy-page ol {margin: 0px 0 10px;}
	.privacy-page ul, .privacy-page ol {margin-left: 10px;}
	.def-page ul {padding-bottom: 10px;}
	.privacy-page .privacy-inner {padding-left: 15px;margin-bottom: 0;}
	.def-page ul li:before {top: 12px;width: 14px;height: 14px;background-size: 100%;}
	.def-page ul li {padding: 5px 0 5px 25px;}
	.def-page .right-img{margin: 0 0 10px 20px;}
	.pagenotfound {padding: 30px 0px;}
	.pagenotfound h2 {font-size: 26px;}
	.pagenotfound p {font-size: 17px;}

	p{font-size: 16px;}
	h3{font-size: 22px;}
	h4{font-size: 20px;}
	h5{font-size: 19px;}
	h6{font-size: 17px;}
	.row{ margin: 0px -10px;}
	.col_2{padding: 10px; width: 100%;}
	.col_3{ padding: 10px; width: 50%;}
	.col_4{ padding: 10px; width: 33.33%;}

	.menu_left, .menu_right{display: none;}
	.logo{width: 30%;}
	.header_inr{padding: 10px 0px;}
	.header{padding: 0px 0px;}
	.cart{right: 30px;top: 45%;}
	.header_inr{align-items: self-start;}
	.top_left_icon img,.left_bottom_salad img{width: 50px;}
	.top_right_icon img{width: 40px;}
	.left_top_salad img,.bottom_left_icon img,.right_top_salad img,.right_bottom_salad img,.bottom_right_icon img{width: 70px;}
	.motion_right img,.motion_left img{width: 100px;}
	.motion_left, .motion_right{top: -10px;}

	.mobile_menu{display: block;position: fixed;width: 50%;height: 100%;background: #000;top: 0px;right: -100%;transition: all 500ms ease-in-out;z-index: 11;}
	.active{right: 0;}
	.mobile_menu ul{margin-top: 70px;padding: 15px;}
	.mobile_menu ul li{margin-bottom: 10px;position: relative;}
	.mobile_menu ul li a{background: rgb(255 198 0 / 20%);display: block;padding: 10px 20px;text-transform: capitalize;color: #fff;}
	.cross1{width: 25px;background-color: rgb(255 198 0 / 100%);height: 3px;position: absolute;left: 20px;top: 30px;transform: rotate(45deg) scale(0);transition: 1s ease;}
	.cross2{width: 25px;background-color: rgb(255 198 0 / 100%);height: 3px;position: absolute;left: 20px;top: 30px;transform: rotate(-45deg) scale(0);transition: 1s ease;}

	a.menu-expand {	padding: 0 !important;width: 47px !important;height: 47px;position: absolute; top: 0px;right: 0px;z-index: 100;background: #e31e24 !important;display: flex;align-items: center;justify-content: center;display: block !important;z-index: 1000000;}
	.mobile_menu ul li.menu-item-has-children .plus1{content: '';position: absolute;right: 12px;top: 22px;width: 22px;height: 2px;display: block;background: rgb(255 255 255 / 100%);transition: all 0.3s ease-in-out;transform: rotate(-180deg);border-radius: 6px;}
	.mobile_menu ul li.menu-item-has-children .plus2{content: '';position: absolute;right: 12px;top: 22px;width: 22px;height: 2px;display: block;background: rgb(255 255 255 / 100%);transition: all 0.3s ease-in-out;transform: rotate(-270deg);border-radius: 6px;}
	.mobile_menu ul li.menu-item-has-children > a.menu-expand.menu-clicked .plus1 {transform: rotate(0);}
	.mobile_menu ul li.menu-item-has-children > a.menu-expand.menu-clicked .plus2{transform: rotate(0);}
	ul.sub-menu{margin-top: 10px;width: 95%;margin-left: auto;display: none;padding: 0px;}

	.cross1.animate1{transform: rotate(45deg) scale(1);transition: 1s ease;}
	.cross2.animate2{transform: rotate(-45deg) scale(1);transition: 1s ease;}
	.hamburger-menu {position: relative;top: 0;right: 15px;cursor: pointer;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);padding-top: 30px;}
	.header.inr_header .hamburger-menu {position: inherit;width:calc(100% - 140px);}
	.header.inr_header{padding: 10px 0px;}
	.bar,.bar:after,.bar:before {width: 22px;height: 3px;margin-left: auto;}
	.bar {position: relative;transform: translateY(10px);background: #e31e24;transition: all 0ms 300ms;}
	.bar.animate {background: rgba(255, 255, 255, 0);}
	.bar:before {content: "";position: absolute;left: 0;bottom: 8px;background: #e31e24;transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);}
	.bar:after {content: "";position: absolute;left: 0;top: 8px;background: #e31e24;transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);}
	.bar.animate:after {top: 0;transform: rotate(45deg);transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);}
	.bar.animate:before {bottom: 0;transform: rotate(-45deg);transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);}

	.banner_title h2{font-size: 28px;}
	.banner_title h1{font-size: 80px;}
	.card_1{width: 280px;}
	.card_2{margin-top: -25px;width: 160px;}
	.about_us_right .title{overflow: inherit;}
	.about_us_left{margin-right: 30px;}
	.home_banner {margin-bottom: 70px;}
	.p_tb_100{padding: 40px 0px;}
	.pt_100{padding-top: 40px;}
	.title{margin-bottom: 10px;}
	.title h3{margin-bottom: 0px;font-size: 24px;letter-spacing: 1px;}
	.title h2{font-size: 45px;margin-bottom: 0px;}
	.about_us_txt p{margin-bottom: 10px;}
	p{font-size: 17px;line-height: 28px;}
	.a_btn a{font-size: 16px;padding: 10px 30px;}
	.menu_left_list ul li, .our_menu_inr ul li{font-size: 17px; margin-bottom: 12px;}
	.menu_right_list ul li{padding-left: 0px;}
	.menu_list_col{width: 25%;}
	.items_image_col{width: 50%;}
	.our_menu_inr ul li::before{width: 50px;}
	.reviews_card_inr{padding: 15px;}
	.reviews_txt{margin: 10px 0px;}
	.user_avatar{width: 50px;}
	.user_avatar h4{font-size: 24px;}
	.customer_name h5{font-size: 18px;}
	.col_4{width: calc(33% - 8px);}
	.news_card_txt{margin: 15px 0px;}
	.news_card_txt > *{margin-bottom: 5px;}
	small{font-size: 15px;}
	h6{font-size: 20px;line-height: 26px;}
	.news_btn img{font-size: 22px;}
	.branch_cards{padding: 5px;}
	.branch_card_txt{margin: 8px 8px 0px;}
	.find_us_otr .a_btn{margin-top: 25px;}
	.contact_info_inr{gap: 2%;}
	.contact_info_col{width: 48%;}
	.contact_info_col_inr{margin-bottom: 25px;}
	.contact_details{padding-bottom: 20px;}
	.contact_details_img{width: 35px;margin-right: 10px;}
	.contact_txt{width: calc(100% - 59px);}
	.contact_txt a{font-size: 17px;}
	.contact_txt a{font-size: 18px;}
	.social_icons ul li a{width: 45px;}
	.contact_us_col_inr{padding: 25px;}
	.contact_us_col_inr h3{font-size: 30px;}
	input[type="text"], input[type="file"],input[type="number"],input[type="email"], textarea{height: 45px;font-size: 17px;}
	.form{margin: 0px;}
	.input_col_2, .input_col_1{width: 100%;padding: 5px 0px;}
	textarea{height: 130px;}
	.footer{padding: 40px 20px;}
	.side .footer_col_inr ul li{margin-bottom: 10px;}
	ul li{font-size: 17px;}
	.footer_col_inr p{line-height: 25px; font-size: 16px;}
	.footer .logo_img{width: 230px;margin: 0 auto;}
	.footer .logo_img img{width: 100%;}
	.card_1 .card_txt h5{font-size: 20px;}
	.sections_btn{margin-top: 15px;}
	.about_us_cards{padding-right: 0px;}
	.branch_cards{padding: 7px;}
	.banner .slick-arrow::after{width: 11px; height: 20px;}
	.banner .slick-arrow{width: 50px; height: 50px;}
	.about_us_left{width: 55%;}
	.award_inr.row .col_2{width: 50%;}
	.branch_card_txt h4{font-size: 15px;}
	.contact_us_col_inr{padding: 15px 20px;}
	.review_slider_home_page .reviews_slider .slick-next.slick-arrow{right: -60px;}
	.review_slider_home_page .reviews_slider .slick-prev.slick-arrow{left: -60px;}
	.reviews_card_inr::before{width: 45px;}
	.reviews_card_artical::before{width: 45px;}
	.review_slider_home_page .reviews_slider .slick-arrow{width: 45px; height: 45px;}
	.review_slider_home_page .reviews_slider .slick-arrow::after{width: 9px; height: 16px;}
	.review_slider_home_page .reviews_card_inr{min-height: 310px;}
	.review_slider_home_page .reviews_card_artical{min-height: 310px;}
	.about_us_right p{margin-bottom: 15px;}
	.mb_child_30 > *{margin-bottom: 15px;}

	/*--------- Media 2 ------*/
	.location_content h3 {line-height: 30px;}
    .location_content{padding-left: 30px;}
    .location_p_inr:nth-child(even) .location_content{padding-right: 30px;}
    .location_content .rating{padding-bottom: 15px;}
    .location_content p{padding-bottom: 15px;}
    .location_content ul li.phone a {font-size: 20px;line-height: 30px;}
    .location_img{width: 45%;}
    .location_content{width: 55%;}
    .location_col{align-items: self-start;}
    .location_content ul li.phone::before{width: 22px;height: 22px;background-size: 100%;top: 5px;}
    .rating img{max-width: 130px;}
    .location_p_inr{padding-bottom: 40px;}

    .review_page .reviews_slider{margin: 0px -10px;}
    .review_page .reviews_slider .reviews_card{padding: 10px}
    .reviews_card_inr{padding: 10px;}
    .customer_name h5{font-size: 17px;}
    .reviews_card_inr::before{right: 15px;}
    .reviews_card_inr p {font-size: 16px;line-height: 25px;}
    .google_icon{width: 45px;height: 45px;}
    .user_avatar{width: 45px;}

    .menu_p_col_inr{padding: 20px;}
    .menu_content{padding-left: 20px;}
    .menu_content p{padding-bottom: 15px;line-height: 24px;}
    .menu_p_col.col_2{width: 50%;padding: 10px;}

    .director_img{margin: 0px 30px 30px 30px;}
    .director_detail{margin-top: 10px;}
    .providing_employement{padding: 15px;max-width: 270px;width: 40%;bottom: -140px;}
    .what_we_belive_inr .col_3 {margin-bottom: 85px;}
    .what_we_belive_inr .col_3:last-child {margin-bottom: 0px;}
    .achivement_counter{width: 100%;padding: 15px;top: -50px;}
    .achivement_counter ul li h3{font-size: 30px;line-height: 34px;}
    .achivement_counter ul li h4{line-height: 24px;}
    .achivement_left_inr .title{padding-bottom: 0px;padding-top: 66px;}
    .about_achivement_inr{flex-direction: column-reverse;}
    .what_we_belive_col_inr{padding: 20px;}

    .journey_col{width: 7.33%;margin: 0;}
    .journey_title h4 { font-size: 14px;width: 90px;}
    .our_journey_year_otr{padding: 0px;}
    .journey_year h3{font-size: 15px;}
    .our_journey_branches .journey_col:nth-child(even) {margin-top: 130px;}
    .our_journey_year_otr::before {width: 100%;height: 100%;left: -6px;top: -3px;}
    .our_journey_year_otr::after{border-width: 0 8px 16px 8px;}
    .our_journey_year_otr::after {right: -9px;bottom: 0px;}
    .our_journey_branches .journey_col:first-child .our_journey_year_otr::after {right: -9px;bottom: 3px;}
    .our_journey_branches .journey_col:nth-child(even) .our_journey_year_otr::after {right: -9px;top: 3px;}

	.meet_team_col_inr .w_50:first-child{width: 40%;}
	.meet_team_col_inr .w_50:last-child{width: 60%; padding-left: 20px;}




}	
@media screen and (max-width:767px){
	.wrapper{padding:0 15px;}
	.def-page {padding: 20px 0px 10px;}
	.def-page h6 {font-size: 20px;line-height: 25px;}
	.def-page h5 {font-size: 21px;line-height: 26px;}
	.def-page h4 {font-size: 22px;line-height: 28px;}
	.def-page h3 {font-size: 23px;line-height: 30px;}
	.def-page h2 {font-size: 24px;line-height: 30px;}
	.def-page p {font-size: 15px;line-height: 24px;}
	.def-page ul.col-3 li {width: 50%;}
	.def-page ul li, .def-page ol li {font-size: 15px;line-height: 26px;}
	.def-page .left-img{margin: 0px 0px 10px 0;float: none;width: 100%;text-align: center;}
	.privacy-page ul, .privacy-page ol {margin-left: 10px;}
	.def-page ul li:before {top: 10px;width: 13px;height: 14px;background-size: 100%;}
	.def-page ul li{padding: 3px 0 3px 20px;}
	.def-page ul {padding-bottom: 10px;}
	.privacy-page .privacy-inner {padding-left: 10px;margin-bottom: 0;}
	.privacy-page .privacy-inner ul {margin-top: 0;}
	.def-page .right-img{margin: 0 0 10px 0px;width: 100%;float: none;text-align: center;}
	.pagenotfound {padding: 20px 0px;}
	.pagenotfound h2 {font-size: 22px;}
	.pagenotfound p {font-size: 16px;}

	p{font-size: 15px;}
	h3{font-size: 20px;}
	h4{font-size: 19px;}
	h5{font-size: 18px;}
	h6{font-size: 16px;}

	.row{ margin: 0px -7px;}
	.col_2{padding: 7px;}
	.col_3{ padding: 7px;}
	.col_4{ padding: 7px;}
	small{font-size: 13px;}

	.header{position: relative;}
	.header_inr{align-items: center;}
	.hamburger-menu{padding-top: 0px;margin-top: -20px;}
	.cart{top: 36px;right: 20px;}
	.mobile_menu{width: 70%;}
	.cart a{width: 40px;}
	.cart a img{width: 12px;}
	.logo_img{width: 135px;}
	.mobile_menu ul{margin-top: 50px;}
	.mobile_menu ul li a{padding: 8px 15px;}
	ul li{font-size: 16px;}
	a.menu-expand{width: 41px !important;height: 41px;}
	.mobile_menu ul li.menu-item-has-children .plus1{top: 18px;right: 8px;}
	.mobile_menu ul li.menu-item-has-children .plus2{top: 18px;right: 8px;}
	.mobile_menu ul.sub-menu{margin-top: 10px;}
	.banner_text {padding-top: 15px;}
	.banner_title h2{font-size: 24px;letter-spacing: 0px;}
	.banner_title h1{font-size: 50px;}
	.slick-arrow{width: 45px;height: 45px;}
	.slick-arrow::after{width: 8px;height: 22px;}
	.top_left_icon{top: 15px;}
	.top_left_icon img, .left_bottom_salad img{width: 40px;}
	.left_top_salad img, .bottom_left_icon img, .right_top_salad img, .right_bottom_salad img, .bottom_right_icon img{width: 50px;}
	.bottom_left_icon{left: 15px;bottom: 10px;}
	.left_bottom_salad{bottom: 30%;}
	.left_top_salad{top: 50px;left: 70px;}
	.right_bottom_salad{bottom: 80px;right: 50px;}
	.bottom_right_icon{right: 20px;}
	.home_banner{margin-bottom: 43px;}
	.p_tb_100{padding: 30px 0px;}
	.pt_100{padding-top: 30px;}
	.about_us_left{width: 100%;}
	.card_1{margin: 0 auto;}
	.motion_right img, .motion_left img{width: 80px;}
	.motion_left, .motion_right{top: -20px;}
	.title h3{font-size: 22px;letter-spacing: 0px;}
	.title h2{font-size: 36px;}
	p{font-size: 16px;line-height: 26px;}
	.a_btn a{padding: 8px 25px;font-size: 15px;}
	.reviews_card{padding: 10px;}
	.review_slider_home_page .reviews_card{padding: 20px;}
	.customer_name h5{font-size: 17px;}
	.user_avatar h4{font-size: 22px;}
	.user_avatar{width: 40px;}
	.col_4{width: calc(50% - 5px);}
	.news_card_txt{margin: 10px 0px}
	small{font-size: 14px;}
	h6{font-size: 18px;line-height: 24px;}
	.about_us_left::after{width: 100%;height: 100%;}
	.news_btn a{padding: 7px 15px;}
	.news_btn img{font-size: 20px;}
	.award_inr.row .col_2{width: 100%;}
	.award_inr.branches_row .col_2{width: 50%;}
	.find_us_otr .a_btn{margin-top: 20px;}
	.contact_info_col,.contact_us_col{width: 100%;}
	.contact_info_inr{gap: 15px;}
	.contact_info_col_inr{margin-bottom: 20px;}
	.contact_details{padding-bottom: 15px;}
	.contact_txt a{font-size: 16px;}
	.contact_us_col_inr{padding: 20px;}
	.contact_us_col_inr h3{font-size: 26px;}
	input[type="text"], input[type="file"],input[type="number"], input[type="email"], textarea{padding: 10px 13px;height: 40px;font-size: 15px;}
	textarea{height: 100px;}
	.submit_btn input[type="submit"]{font-size: 15px;padding: 8px 30px;}
	.footer{padding: 30px 0px 15px;}
	.footer_central_col{width: 100%;padding: 0;border: none;border-bottom: 1px solid #99999950;padding-bottom: 10px; order: 1;}
	.footer_left{order: 2;}
	.footer_right{order: 3;}
	.side{width: 100%;position: inherit;}
	.footer_col_inr >*{margin-bottom: 5px;}
	.footer .logo_img{width: 180px;}
	.footer_col_inr p{line-height: 26px; font-size: 15px;}
	.footer_inr{border-bottom: 1px solid #99999950;margin-bottom: 15px;padding-bottom: 15px;}
	.footer_bottom .copyright{display: block;text-align: center;}
	.footer_inr .copyright{display: none;}
	.footer_col_inr ul{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;column-gap: 15px;}
	.side .footer_col_inr ul li{margin-bottom: 0px;}
	.side .footer_col_inr{margin-top: 15px;}
	.footer_col_inr ul li{font-size: 15px;}
	.our_menu_inr{padding-top: 25px;}
	.menu_list_col{width: 100%;}
	.items_image_col{width: 100%;height: 350px;}
	.menu_item_image{bottom: inherit;transform: translate(-50%,0%) scale(1);max-width: 300px;}
	.menu_left_list ul,.menu_right_list ul{display: flex;flex-wrap: wrap;align-items: center;gap: 15px;justify-content: center;}
	.desktop_dsp_none{display: block;}
	.mobile_dis_none{display: none;}
	.menu_list_col.desktop_dsp_none{padding-bottom: 20px;}
	.menu_left_list ul li, .our_menu_inr ul li{font-size: 17px;padding: 0px;margin: 0px;}
	.our_menu_inr ul li::after{display: none;}
	.menu_right_list ul li:hover::before{display: none;}
	.menu_left_list ul li:hover::before{display: none;}
	.award_inr.branches_row{margin-bottom: 15px;}
	.card_1 .card_txt h5{font-size: 18px;}
	.card_2 .card_txt h5{font-size: 15px;}
	.sections_btn{margin-top: 10px;}
	.award_col_inr{width:fit-content; margin: auto;}
	.award_img{display: flex;align-items: center;justify-content: center;}
	.award_img img{height: 170px;}
	.contact_info_col .title h2{width: max-content;}
	.side .footer_col_inr ul li a:hover::after{display: none;}

	.banner .slick-arrow{width: 40px; height: 40px;}
	.banner .slick-arrow::after{width:8px; height: 15px;}
	.slick-arrow{top: 30%;}
	.card_1{margin-left: 3rem;}
	.card_2 {margin-top: -200px;}
	.about_us_cards{margin-top: 50px; padding-right: 20px;}
	.about_us_right p{margin-bottom: 10px;}
	.menu_left_list ul li.active::before{display: none;}
	.menu_right_list ul li:hover::before{display: none;}
	.menu_right_list ul li.active::before{display: none;}
	.menu_right_list ul li:hover::before{display: none;}
	.contact_us_col_inr{padding: 15px 20px;}
	.social_icons ul li{margin-right: 0px;}
	.award_inr.row{margin: 0px -7px;}
	.mb_child_30 > *{margin-bottom: 10px;}
	.review_slider_home_page .reviews_inr{max-width:inherit;}
	.branches_row{overflow-y: inherit;}
	.reviews_card_inr::before{top: -3px;}
	.card_txt >*{margin-bottom: 5px;}

	/*--------- Media 2 ------*/
	.location_content h3 {line-height: 28px;}
    .location_content .rating{padding-bottom: 10px;}
    .location_content p{padding-bottom: 10px;}
    .location_content ul li.phone a {font-size: 18px;line-height: 28px;}
    .location_img{width: 100%;margin-bottom: 15px;}
    .location_content{width: 100%;padding-left: 0px;}
    .location_p_inr:nth-child(even) .location_content{padding-right: 0px;}
    .location_p_inr{padding-bottom: 30px;}

    .review_page .reviews_slider{margin: 0px -5px;}
    .review_page .reviews_slider .reviews_card{padding: 5px;width: 50%;}
    /* .review_page .reviews_slider .reviews_card_artical{padding: 5px;width: 100%;} */
    .customer_name h5{font-size: 16px;line-height: 20px;}
    .reviews_card_inr::before{right: 10px;width: 40px;}
    .reviews_card_inr p {font-size: 15px;line-height: 23px;}
    .google_icon{width: 40px;height: 40px;}
    .user_avatar{width: 40px;}

    .menu_p_col_inr.row{margin: 0px;}
    .menu_p_col_inr{padding: 15px;}
    .menu_content p{padding-bottom: 10px;line-height: 22px;}
    .menu_p_col.col_2{width: 100%;padding: 5px 0px;}
    .menu_img{width: 170px;}
    .menu_content{width: calc(100% - 200px);}

    .max_w_50{width: 100%;max-width: 100%;}
    .meet_team_col_inr .meet_team_col_img {text-align: center;}
    .meet_team_col_inr .w_50 img{max-width: 260px;margin: 0 auto;}
    .fl{float: inherit;}
    .director_img{margin: 0px 0px 45px 50px;}
    .director_img .border_on_img{max-width: 480px;margin: 0 auto;}
    .border_on_img::after{left: -20px;right: 20px;top: 20px;border-width: 5px;}
    .director_detail{margin-top: 15px;}
    .providing_employement {padding: 15px;width: calc(100% - 30px);max-width: 100%;position: inherit;right: inherit;bottom: inherit;left: inherit;margin: 0 auto;border-radius: 10px;}
    .about_page_about_otr{margin-bottom: 0px;}
    .about_page_about_inr{margin-bottom: 0px;}
    .about_page_about_otr{margin-bottom: 15px;}
    .our_menu{padding-bottom: 15px;}
    .journey_col{width: 100%;margin: 0px;max-width: 400px;margin: 0 auto;}
    .journey_col_inr{flex-direction: row-reverse;align-items: center;}
    .journey_col_inr .journey_title{width: fit-content;}
	.journey_title h4{display: inline-block;}
	.our_journey_branches .journey_col:first-child .our_journey_year_otr::before{transform: rotate(80deg);}
	.our_journey_branches .journey_col:nth-child(even) .our_journey_year_otr::before{transform: rotate(200deg);}
	.our_journey_year_otr::after{transform: rotate(204deg); right: inherit; bottom: -16px; left: 18px;}
	.our_journey_branches .journey_col:first-child .our_journey_year_otr::after{right: inherit; bottom: -16px; left: 18px;}
    .journey_col_inr .our_journey_year_otr{width: 50%;max-width: 110px; padding: 13px;}
    .our_journey_branches .journey_col:nth-child(even){margin:0 auto;}
    .our_journey_branches .journey_col:nth-child(even) .journey_col_inr{flex-direction: row;}
    .our_journey_year_otr::before{transform: rotate(80deg);}
    .our_journey_branches .journey_col:nth-child(even) .our_journey_year_otr::after{right: 5px;left: inherit;top: inherit;bottom: -5px;transform: rotate(-218deg);}
    .journey_title h4{font-size: 18px;}
    .our_journey_branches{padding-top: 10px; gap: 10px;}
    .what_we_belive_inr .col_3{margin-bottom: 85px;}
    .what_we_belive_inr .col_3:last-child{margin-bottom: 0px;}
    .w_50{width: 100%;}
    .meet_team_col_inr .meet_team_card_txt{padding-left: 0px;}
    .achivement_left_inr .title{padding-bottom: 10px;}
    .achivement_counter{padding: 10px;position: inherit;width: 100%;max-width: 708px;top: inherit;}
    .achivement_counter ul li{padding: 0px 20px;width: 33.33%;}
    .achivement_counter ul li h3{font-size: 28px;line-height: 32px;}
    .achivement_right_inr{padding-left: 0px;}
    .catering_services_col_inr{padding: 10px;}
    .achivement_counter_inr h4{line-height: 20px;}
    .providing_employement strong{font-size: 26px;}
    .providing_employement h4{max-width: 100%;}
    .about_achivement_inr{flex-direction: inherit;}
    .achivement_left_inr .title{padding-top: 0px;padding-bottom: 10px;}
    .what_we_belive_col_inr{padding: 15px;}
    .our_journey_year_otr{padding: 17px;}
	.journey_year h3{font-size: 20px;}
	.our_menu .right_bottom_salad{right: 30px;}
	.our_journey_branches .journey_col:last-child .our_journey_year_otr::before{transform: rotate(220deg);}
	.meet_team_col_inr .w_50:first-child{width: 30%;}
	.meet_team_col_inr .w_50:last-child{width: 70%;}

}
@media screen and (max-width:479px){
	.wrapper{padding:0 10px;}
	.def-page {padding: 15px 0px 15px;}
	.def-page h6 {font-size: 18px;line-height: 24px;margin-bottom: 5px;}
	.def-page h5 {font-size: 19px;line-height: 24px;margin-bottom: 5px;}
	.def-page h4 {font-size: 20px;line-height: 24px;margin-bottom: 5px;}
	.def-page h3 {font-size: 21px;line-height: 25px;margin-bottom: 5px;}
	.def-page h2 {font-size: 22px;line-height: 26px;margin-bottom: 5px;}
	.def-page p {font-size: 14px;line-height: 24px;padding-bottom: 6px;}
	.def-page ul.col-3 li {width: 100%;}
	.def-page ul li, .def-page ol li {font-size: 14px;line-height: 22px;}
	.def-page ul li:before {top: 11px;}
	.def-page ul.col-2 li {width: 100%;}
	.privacy-page ol {margin: 5px 0 10px;}
	.privacy-page ul, .privacy-page ol {margin-left: 8px;}
	.def-page ul li:before {top: 7px;}
	.def-page ul li {padding: 2px 0 2px 18px;}
	.pagenotfound {padding: 15px 0px;}
	.pagenotfound h2 {font-size: 20px;}
	.pagenotfound p {font-size: 15px;}


	p{font-size: 14px;}
	h3{font-size: 19px;}
	h4{font-size: 18px;}
	h5{font-size: 17px;}
	h6{font-size: 15px;}
	.row{ margin: 0px}
	.col_2{padding: 5px;}
	.col_3{ padding: 5px; width: 100%;}
	.col_4{ padding: 5px; width: 50%;}
	small{font-size: 13px;}

	.logo{width: 35%;}
	.logo_img{width: 100px;}
	.bar, .bar:after, .bar:before{width: 20px;}
	.cart{top: 29px;}
	.banner_title h2{font-size: 20px;letter-spacing: 0px;}
	.banner_title h1{font-size: 30px;}
	.top_left_icon img, .left_bottom_salad img{width: 30px;}
	.top_left_icon{top: 5px;left: 5px;}
	.left_top_salad img, .bottom_left_icon img, .right_top_salad img, .right_bottom_salad img, .bottom_right_icon img{width: 40px;}
	.bottom_left_icon{left: 10px;bottom: 5px;}
	.left_top_salad{top: 20px;left: 50px;}
	.top_right_icon img{width: 30px;}
	.top_right_icon{right: 60px;top: 25px;}
	.right_bottom_salad{bottom: 50px;right: 15px;}
	.bottom_right_icon{right: 10px;bottom: 5px;}
	.motion_right img, .motion_left img{width: 50px;}
	.motion_left{left: 0;top: -10px;}
	.motion_right{right: 0;top: -10px;}
	.right_top_salad{top: 0px;}
	.slick-next.slick-arrow{right: 3px;}
	.slick-arrow{width: 35px;height: 35px;top: 35%;}
	.slick-arrow::after{width: 6px;height: 20px;}
	.slick-prev.slick-arrow{left: 3px;}
	.card_2{margin-top: -150px;padding-bottom: 0px;}
	.card_1{width: 250px;}
	.banner_slider_item{margin-top: 40px;}
	.card_1 .card_txt{padding: 5px 0px;}
	.card_1{padding-bottom: 0px;}
	.card_1 .card_txt h5{font-size: 17px;}
	.card_2 .card_txt h5{font-size: 14px;}
	.card_2 .card_txt{padding: 5px 0px;}

	.title h3{font-size: 18px;}
	.title h2{font-size: 30px;}
	p{font-size: 15px;line-height: 24px;}
	.a_btn a{padding: 5px 20px;font-size: 14px;}
	.p_tb_100{padding: 20px 0px;}
	.pt_100{padding-top: 20px;}
	.our_menu_inr{padding-top: 0px;}
	.menu_left_list ul, .menu_right_list ul{row-gap: 5px;column-gap: 15px;}
	.items_image_col{height: 250px;}
	.menu_left_list ul li, .our_menu_inr ul li{font-size: 15px;}
	.social_icons ul li a{width: 40px;margin-right: 15px;}
	.google_icon{width: 50px;}
	.user_avatar h4{font-size: 20px;}
	.customer_name h5{font-size: 17px;}
	.user_avatar{width: 35px;}
	.slick-dots li button{width: 8px;height: 8px;}
	.slick-dots li.slick-active button{height: 8px;}
	.slick-dots{margin-top: 10px;}
	.award_img img{height: 100px;}
	.in_the_news{padding: 150px 0px 30px;}
	.in_the_news .col_4{width: 100%;padding: 5px 0px;}
	small{font-size: 13px;}
	h6{font-size: 17px;line-height: 22px;}
	.news_btn a{padding: 5px 12px;}
	.news_btn img{font-size: 18px;}
	.award_inr.branches_row .col_2{width: 100%;}
	.find_us_otr .a_btn{margin-top: 10px;}
	.contact_info_col_inr{margin-bottom: 15px;}
	.contact_details_img{width: 30px;}
	.contact_txt{width: 100% - 45px;}
	.contact_txt a{font-size: 15px;}
	.contact_us_col_inr{padding: 15px 10px;}
	.contact_us_col_inr h3{font-size: 22px;}
	input[type="text"],input[type="file"],input[type="number"], input[type="email"], textarea{padding: 10px;height: 35px;font-size: 15px;border-radius: 6px;}
	textarea{height: 80px;}
	.submit_btn input[type="submit"]{font-size: 14px;padding: 5px 20px;}
	.footer{padding: 22px 0px 10px;}
	.footer .logo_img{width: 150px;}
	.footer_col_inr p{line-height: 22px; font-size: 14px;}
	.footer_central_col{padding-bottom: 0px;}
	.side .footer_col_inr{margin-top: 5px;}
	.footer_central_col{margin-bottom: 5px;}
	.footer_col_inr ul li{font-size: 14px;}
	.footer_inr{margin-bottom: 10px;padding-bottom: 10px;}
	.mobile_menu ul{margin-top: 40px;}
	.cross1{top: 20px;}
	.cross2{top: 20px;}
	.mobile_menu ul li{margin-bottom: 5px;}
	.mobile_menu ul li a{padding: 5px 10px;}
	ul li{font-size: 15px;}
	a.menu-expand{width: 34px !important;height: 34px;}
	.mobile_menu ul li.menu-item-has-children .plus1{right: 6px;top: 16px;}
	.mobile_menu ul li.menu-item-has-children .plus2{right: 6px;top: 16px;}
	.mobile_menu{width: 100%; max-width: 300px;}

	.in_the_news .left_top_salad{top: 7%;left: 5px;}
	.in_the_news .right_top_salad{top: 9%;right: 0px;}
	.in_the_news .left_bottom_salad{left: 0;bottom: 0;}
	.in_the_news .right_bottom_salad{right: 0;bottom: 20px;}
	.our_menu  .right_bottom_salad{bottom: 100px;}
	.our_menu .left_top_salad{top: 5px;left: 5px;}
	.our_menu .right_top_salad{top: 50px;}
	.our_menu .left_bottom_salad{bottom: 60%;}
	.about_us_cards{padding: 30px 10px; margin: 0px;}
	.card_1 {padding: 7px;}
	.award_inr.row{margin: 0px;}
	.mb_child_30 > *{margin-bottom: 8px;}
	.review_slider_home_page .reviews_card_inr{min-height:inherit;}

	.award .award_inr.row{justify-content: center;}
	.award  .award_inr.row .col_4{width: fit-content; max-width: 50%;}
	.menu_item_image{max-width: 250px;}
	.reviews_card_inr::before{top: 0px;}
	.card_txt >*{margin-bottom: 3px;}


	/*--------- Media 2 ------*/
	.location_content h3 {line-height: 26px;}
    .location_content ul li.phone a {font-size: 16px;line-height: 26px;}
    .location_content ul li.phone::before{width: 18px;height: 18px;top: 5px;}
    .location_p_inr{padding-bottom: 22px;}

    .review_page .reviews_slider{margin: 0px;}
    .review_page .reviews_slider .reviews_card{padding: 5px 0px;width: 100%;}
    .review_page .reviews_slider .reviews_card_artical{padding: 5px 0px;width: 100%;}
    .customer_name h5{font-size: 15px;line-height: 18px;}
    .reviews_card_inr::before{right: 10px;width: 35px;}
    .reviews_card_artical::before{right: 10px;width: 35px;}
    .reviews_card_inr p {font-size: 14px;line-height: 21px;}
    .google_icon{width: 35px;height: 35px;}
    .user_avatar{width: 35px;}
    .customer_name .star img{max-width: 70px;}
    .reviews_card_inr{display: inherit;min-height: auto;}

    .menu_p_col_inr{padding: 10px;}
    .menu_content p{line-height: 20px;}
    .menu_img{width: 100px;}
    .menu_content{width: calc(100% - 100px);padding-left: 15px;}
    .awards_img img{max-height: 84px;}

    .director_detail{margin-top: 10px;}
    .providing_employement {padding: 10px;width: calc(100% - 20px);}
    .about_page_about_otr{margin-bottom: 10px;}
    .our_menu{padding-bottom: 10px;}
    .journey_col{width: 100%;margin: 0px;}
    .journey_col_inr{flex-direction: row;}
    .journey_col_inr .journey_title{width: 45%;} 
   .journey_col_inr .our_journey_year_otr{width: 50%;}
    /* .our_journey_branches .journey_col:nth-child(even){margin-top: 10px;} */
    .our_journey_branches .journey_col:nth-child(even) .journey_col_inr{flex-direction: row-reverse;}
    /* .our_journey_year_otr::before{transform: rotate(-80deg);} */
    /* .our_journey_branches .journey_col:nth-child(even) .our_journey_year_otr::after{right: inherit;left: 0;top: inherit;bottom: 0;transform: rotate(-135deg);} */
    .journey_title h4{font-size: 18px;}
    .our_journey_branches{padding-top: 10px; gap: 0;}
    .what_we_belive_inr .col_3{margin-bottom: 85px;}
    .what_we_belive_inr .col_3:last-child{margin-bottom: 0px;}
    .w_50{width: 100%;}
    .meet_team_col_inr .meet_team_card_txt{padding-left: 0px;}
    .achivement_left_inr .title{padding-bottom: 10px;}
    .achivement_counter{padding: 10px;position: inherit;width: 100%;margin-bottom: 15px;}
    .achivement_counter ul{flex-wrap: wrap;}
    .achivement_counter ul li{width: 100%;border-bottom: 2px dashed #25252540;border-right: 0;padding: 0px 20px;padding-bottom: 10px;margin-bottom: 10px;}
    .achivement_counter ul li:last-child{border-bottom: 0;padding-bottom: 0px;margin-bottom: 0px;}
    .achivement_counter ul li h3{font-size: 25px;line-height: 30px;}
    .achivement_right_inr{padding-left: 0px;}
    .catering_services_col_inr{padding: 10px;}
    .what_we_belive_col_inr{padding: 10px;}
    .our_journey_year_otr{padding: 15px;}
	.journey_year h3{font-size: 20px;}
	.meet_team_col_inr .w_50:first-child{width: 100%;}
	.meet_team_col_inr .w_50:last-child{width: 100%; padding-left: 0px; padding-top: 10px;}
	.rating h4{font-size: 16px;}
	.rating img{max-width: 90px;}
	.location_content ul li.phone{padding-bottom: 0px;}
}